@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0px;
  background: #111111;
  font-family: 'Montseratt', sans-serif;
}

html,
h1,
h2,
p,
ul,
li {
  font-family: 'Montseratt', sans-serif;
}

@keyframes move {
  from {
    transform: translate(0, 200px);
  }

  to {
    transform: translate(0, 0);
    stroke: white;
  }
}

.main-screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.main-section {
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 500px;
  height: 300px;

  @media only screen and (max-width: 700px) {
    width: 250px;
    height: 175px;
  }

  background-size: cover;

  @keyframes enter {
    from {
      fill: transparent;
      transform: translate(400px, 0px);
    }

    to {
      fill: white;
      transform: translate(0px, 0px);
    }
  }

  .main {
    position: absolute;
    height: 100vh;
    animation: width 2s ease forwards;
    background: white;
    color: white;
  }

  #logo-image {
    stroke: white;
    animation: fill 2.8s ease forwards 5s;

    fill: transparent;
    width: 100%;
  }

  @keyframes fill {
    from {
      fill: transparent;
    }
    to {
      fill: white;
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes line-anim {
    to {
      stroke-dashoffset: 0;
    }
  }

  #logo-image path:nth-child(1) {
    stroke: none;
    animation: fadein 2.8s ease forwards 4s;
  }

  #logo-image path:nth-child(2) {
    stroke: none;
    animation: fadein 2.8s ease forwards 4s;
  }

  #logo-image path:nth-child(3) {
    stroke-dasharray: 280px;
    stroke-dashoffset: 280px;
    animation: line-anim 1.8s ease forwards 1s;
  }

  #logo-image path:nth-child(4) {
    stroke-dasharray: 330px;
    stroke-dashoffset: 330px;
    animation: line-anim 2.5s ease forwards 1s;
  }

  #logo-image path:nth-child(5) {
    stroke-dasharray: 315px;
    stroke-dashoffset: 315px;
    animation: line-anim 4s ease forwards 1s;
  }

  #logo-image path:nth-child(6) {
    stroke: transparent;
    animation: move 1s ease forwards 4s;
  }

  #logo-image path:nth-child(7) {
    stroke: transparent;
    animation: move 1.2s ease forwards 4s;
  }

  #logo-image path:nth-child(8) {
    stroke: transparent;
    animation: move 1.4s ease forwards 4s;
  }

  #logo-image path:nth-child(9) {
    stroke: transparent;
    animation: move 1.6s ease forwards 4s;
  }

  #logo-image path:nth-child(10) {
    stroke: transparent;
    animation: move 1.8s ease forwards 4s;
  }

  #logo-image path:nth-child(11) {
    stroke: transparent;
    animation: move 2s ease forwards 4s;
  }

  #logo-image path:nth-child(12) {
    stroke: transparent;
    animation: move 2.2s ease forwards 4s;
  }
  #logo-image path:nth-child(13) {
    stroke: transparent;
    animation: move 2.4s ease forwards 4s;
  }

  #logo-image path:nth-child(14) {
    stroke: transparent;
    animation: move 2.6s ease forwards 4s;
  }

  #logo-image path:nth-child(15) {
    stroke: transparent;
    animation: move 2.8s ease forwards 4s;
  }

  #logo-image path:nth-child(16) {
    stroke: transparent;
    animation: move 3s ease forwards 4s;
  }
}

.input {
  width: 400px;
  border: white;

  @media only screen and (max-width: 700px) {
    width: 350px;
  }
}

.input:focus {
  border: white;
  color: white;
}

.contact-container {
  width: 500px;
  height: 600px;
}

.particles {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}

.main-components {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
}

.test {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.contact-button {
  margin-top: 16px;
  padding: 18.5px;
  width: 100px;
  font-size: 16px;
  background: white;
  color: #111111;
  border: 2px solid #111111;
  font-weight: bold;
}

.contact-button:hover {
  color: #d4af37;
  background: #111111;
}

.main-contact--button {
  background: transparent;
  padding: 10px;
  color: white;
  width: 200px;
  font-size: 20px;
  border: 2px solid white;
  animation: fadein 8s ease forwards;
}

.main-contact--button:hover {
  background: white;
  color: #111111;
  border: 2px solid white;
}

.modal {
  background-color: #111111 !important;
}
